{% extends 'base.html' %}
{% block django_loading %}
	{% load static %}
{% endblock django_loading %}
{% block header_part %}
  <script>
     $(function() {
    	//$( "#accordion" ).accordion();
    	$("#accordion").accordion({ header: "button", collapsible: true, active: true });
    	
     // var obj = JSON.parse('{{ feed|safe }}');
     // console.log(obj);
     // console.log(obj.title);
     // console.log(obj.description);
     // var x = document.getElementsByClassName("title")
     // x[0].innerHTML = obj.title;
     // var y = document.getElementsByClassName("description")
     // y[0].innerHTML = obj.description;
     $('#closemodal').click(function(){
     	$("#error_url").css("display", "none");
     });
     $('.close').click(function(){
     	if(!confirm('Are you sure? Feed will be removed!')){
     		return false;
     	}
     	else{
     		//remove feed_url from users list('from linking table User_FeedWebsite')
     	}
     });
     $('.feedlink').click(function(){
     		console.log('parse feed for link from database');
     		var link = $(this).attr('data')
     		url = JSON.stringify(link)
     		console.log(link);

     		//do ajax
     		$.get('/feed_details/', { "url" : url }, function(data){
                        console.log("yes got the info bro!");
                        console.log(data);
                        });
     		//parse new feeds

     		//display them -  innerHTML

     })

     $('#add_new_feeds').click(function(e){
     		e.preventDefault(e);
     		console.log('hello');
			var input_url = $('#feedurls').serialize();
     		console.log(input_url);
     		
	     		$('#error_url').css("display","none");
	     		$.ajax({
	                url: '/add_subscription/',
	                type: 'POST',
	                
	                data: input_url,
	                success: function(data){
	                     if(data=='None'){
	                     	console.log("error bro!! give some other url");
	                     	$('#error_url').html('<div class="alert alert-danger">\
	  							<strong>Url does not have any feeds</strong> </div>');
	                     	$("#error_url").css("display", "block");
	                     }
	                     
	                     else{
	                        console.log('coolstuff.I ll get you the things bob');
	                        console.log(data);
	                        $('#closemodal').click();
	                     }	
	                     //add title in the begining
	                     //display feeds    
	                }
	            });
	     	
		});	
    
  });
  </script>
  <script>
  	$(document).ready(function(){
    $(document).ajaxStart(function(){
        $("#loadingmessage").css("display", "block");
    });
    $(document).ajaxComplete(function(){
        $("#loadingmessage").css("display", "none");
    });
    // $("").click(function(){
    //     $("#txt").load("demo_ajax_load.asp");
    // });
});
  </script>
  
  <style>
  .feedlink{
  		color:white;
  		font-size:20px;
  }
  .feedlink:hover{
  		color:yellow;
  }
  .close{
  		color: white;
  		opacity: 1 !important;
  		background-color: white;
  		padding:3px !important;

  }
  .close:hover{
  	 color: red;
  }
  </style>
{% endblock header_part %}
{% block body %}

<!-- <div class="card" style="margin-top: 0px;min-height: 100%;"> -->
	<div class="row" style="margin-right: 0%;">
		<div class="col-md-3" style="margin-right:0%;padding-right: 0%;">
			<div class="card" style="height:100%; background-color:#541e5e; ">
			<div  style="background-color:#541e5e;height:;padding-top:0px;">
			
				<div id="accordion">
					
				  	<button type="button" class="btn" data-target="#feeds_title" style="width:100%;background-color:#533259;" data-toggle="collapse" data-target="#feedurls">
				  		<strong style="color:white;font-size: 25px;">
				  			Your Feeds 
				  			<span class="glyphicon glyphicon-chevron-down"></span>
				  		</strong>
				  	</button>
				  	<div style="margin-top:5%;">
					    <ul style="padding-left: 10%;padding-bottom: 10%;">
					    	<li><a href="#" class="feedlink" data="http://feeds.reuters.com/reuters/INtopNews?format=xml">times of india</a>
					    		<button type="button" class="close" >
					    			&times;
					    		</button>
					    	</li>
					    	
					    	<li><a href="#" class="feedlink">google news</a>
					    		
					    		<button type="button" class="close" >
					    			&times;
					    		</button>
					    		
					    	</li>

					    	<li><a href="#" class="feedlink">This is the third feed</a>
					    		<button type="button" class="close" >
					    			&times;
					    		</button>
					    	</li>
					    	<li><a href="#" class="feedlink">blah blah</a>
					    		<button type="button" class="close">
					    			&times;
					    		</button>
					    	</li>
					    	<li><a href="#" class="feedlink">blah blah</a>
								<button type="button" class="close" >
					    			&times;
					    		</button>
					    	</li>
					    	<li><a href="#" class="feedlink">blah blah</a>
					    		<button type="button" class="close" >
					    			&times;
					    		</button>
					    	</li>
					    	<li><a href="" class="feedlink">blah blah</a>
					    		<button type="button" class="close" >
					    			&times;
					    		</button>
					    	</li>
					    </ul>
			  		</div>
			  </div>
			  </div>
			  	<button type="button" style="border-radius:0px;width:100%;background-color:#533259;" class="btn" data-toggle="modal" data-target="#myModal"><strong style="color:white;font-size: 25px;">Add New Feed</strong></button>	
			
			</div>
		</div>
		<div class="col-md-9" style="margin-left:0%;padding-left:0%;padding-right: 0%;margin-right:0%">
		<div id="feed_details">
		<div class="card">
			<div class="title">
				This is awesome
			</div>
			<div class="description">
			description goes here
			</div>
		</div>
		</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog" style="margin-top:70px;">
	  		<div class="modal-content" style="text-align:center;">
		        <div class="modal-header">
		          
		          <h4 class="modal-title"><strong>Enter feed url</strong></h4>
		        </div>
	        <div class="modal-body" style="text-align:center;">
	        	<form id="feedurls" method="POST" enctype="multipart/form-data">
	        		<!-- {% csrf_token %} -->
		      		<input id="feed_url" name="url" value="" type="text" style="width:80%;text-align:center;color:black;" placeholder="feed url"></input>
		      		{% csrf_token %}
					<br/><br/>
					<button type="submit" id="add_new_feeds" style="background-color:#533259;" 	class="btn">
					<strong style="color:white;">Add to my feeds</strong>
					</button>

				
				
					<button type="button" class="btn" id="closemodal" style="background-color:#533259;" data-dismiss="modal">
						<strong style="color:white;">Close</strong>
					</button>
					<br/>
					<br/>
					<div id='loadingmessage' style='display:none'>
  						<img style="width:70px;height:auto;" src={% static 'progress.gif' %}/>
					</div>
					<div id="error_url">

					</div>

				</form>
		    </div>
		</div>
	</div>
<!-- </div> -->

{% endblock body %}