{% extends 'base.html' %}
{% block django_loading %}
	{% load static %}
{% endblock django_loading %}
{% block header_part %}
  <script>
     $(function() {
    	//$( "#accordion" ).accordion();
    	$("#accordion").accordion({ header: "button", collapsible: true, active: true });
    	
  
     $('#closemodal').click(function(){
     	$("#error_url").css("display", "none");
     });
     
     //Add New Feed
     $('#add_new_feeds').click(function(e){
     		e.preventDefault(e);
     		console.log('hello');
			var input_url = $('#feedurls').serialize();
     		console.log(input_url);
     		
	     		$('#error_url').css("display","none");
	     		$.ajax({
	                url: '/add_subscription/',
	                type: 'POST',
	                
	                data: input_url,
	                success: function(data){
	                     if(data=='None'){
	                     	console.log("error bro!! give some other url");
	                     	$('#error_url').html('<div class="alert alert-danger">\
	  							<strong>Url does not have any feeds</strong> </div>');
	                     	$("#error_url").css("display", "block");
	                     }

	                     else{
	                        console.log('coolstuff.I ll get you the things bob');
	                        // console.log(data);
	                        $('#closemodal').click();
	                     
	                     //add title in the begining
	                     		
		                     item = JSON.parse(data);
		                     feed_details = item[0];
		                     // console.log(feed_details);
		                     website_details = item[1];
		                     // console.log(website_details)
		                     // console.log(feed_details.length);
		                     $('#feed_details').html('');
		                     for(item=0;item<feed_details.length;item++){
		                     	// console.log(feed_details[item]);
		                     	
		                     	feed_link = feed_details[item]["feed_link"];
		                     	published_on = feed_details[item]['published_on'];
		                     	title = feed_details[item]['title'];
		                     	description = feed_details[item]['description'];
		                     	// text = '<div class="title"><span><a href="'+feed_link+'">'+title+'</a><h4>'+published_on+'</h4></span></div><div class="description">'+description+'</div>';
		                     	text = '<div class="panel panel-warning"><div class="panel-heading"><span><a class="direct_link" href="'+feed_link+'">'+title+'</a><i class="time" style="text-align: right" data="'+published_on+'">'+published_on+'</i></span></div><div class="panel-body desc"><h4>'+description+'</h4></div></div>'
		                     	// console.log(text);
		                     	// $('#website_titles')
		                        $('#feed_details').append(text);
		                     }
		                     console.log(website_details);
		                     website_title = website_details['website_title'];
		                     website_feed_url = website_details['website_feed_url'];

		                     text = '<li><a class="feedlink" data="'+website_feed_url+'">'+website_title+'</a><button type="button" class="close" data="'+website_title+'">&times;</button></li>';
		                     console.log(text);
		                     $('#website_titles').append(text);
		                  }
	                     //display feeds    
	                }
	            });
	     	
		});	
    
  });
  </script>
  <script>
//After the documeny is ready.
 //loading gif
$(document).ready(function(){
    $(document).ajaxStart(function(){
        $("#loadingmessage").css("display", "block");
    });
    $(document).ajaxComplete(function(){
        $("#loadingmessage").css("display", "none");
    });
    $('.close').click(function(){
     	if(!confirm('Are you sure? Feed will be removed!')){
     		return false;
     	}
     	else{
     		//remove feed_url from users list('from linking table User_FeedWebsite')
     		console.log('remove feeds');
     		url = $(this).attr('data');

     		$.get('/delete_subscription/',{"url":url}, function(data) {
     			if(data='Deleted'){
     				console.log(data);
     				window.location = '/';
     			}
     		});
     		//once removed delete the div item
     	}
     });
    $('.feedlink').click(function(event){
     		console.log('parse feed for link from database');
     		var link = $(this).attr('data');
     		url = JSON.stringify(link);
     		console.log(link);
     		// window.location = '/'
     		//do ajax
     		$.get('/feed_details/', { "url" : url }, function(data){
                        console.log("yes got the info bro!");
                        
                        // var data = JSON.parse(data);
                        // console.log(data[]);
                         $('#feed_details').html('');
                         feed_details = JSON.parse(data);
                         // console.log(feed_details);
                         for(item=0;item<feed_details.length;item++){
		                     	// console.log(feed_details[item]);
		                     	
		                     	feed_link = feed_details[item]["feed_link"];
		                     	published_on = feed_details[item]['published_on'];
		                     	title = feed_details[item]['title'];
		                     	description = feed_details[item]['description'];
		                     	// text = '<div class="title"><span><a href="'+feed_link+'">'+title+'</a><h4>'+published_on+'</h4></span></div><div class="description">'+description+'</div>';
		                     	text = '<div class="panel panel-warning"><div class="panel-heading"><span><a class="direct_link" href="'+feed_link+'">'+title+'</a><i class="time" style="text-align: right" data="'+published_on+'">'+published_on+'</i></span></div><div class="panel-body desc"><h4>'+description+'</h4></div></div>'
		                     	console.log(text);
		                     	// $('#website_titles')
		                        $('#feed_details').append(text);
		                        
		                        // console.log(text)
		                     }
		                  $(".time").each(function(){
						    	// console.log('hello');
						    	
						    	time_el=$(this);
						    	console.log(time_el);
						    	statement = $.timeago(time_el.text());
						    	time_el.html(statement);
						    });
		                 
                        });
     		//parse new feeds

     		//display them -  innerHTML

     });
    $(".time").each(function(){
    	// console.log('hello');
    	
    	time_el=$(this);
    	console.log(time_el);
    	statement = $.timeago(time_el.text());
    	time_el.html(statement);
    });
    
});
  </script>
  
  <style>
  .feedlink{
  		color:white;
  		font-size:20px;
  }
  .feedlink:hover{
  		color:yellow;
  }
  .close{
  		color: white;
  		opacity: 1 !important;
  		background-color: white;
  		padding:3px !important;

  }
  .close:hover{
  	 color: red;
  }
  .desc{
  	font-size: 15px !important;
  }
  .time{
  	float: right;
  }
  .direct_link{
  	font-size: 20px;
  }
  #link_panel{
  	position:fixed;margin-right:0%;padding-right: 0%;height:92%;width:25%;
  }
  #link_card{
  height:91%; background-color:#541e5e; 
  }
  #random_thing{
  background-color:#541e5e;height:;padding-top:0px;
  }
  #description_panel{
  height:91%;margin-left:25%;padding-left:0%;padding-right: 0%;margin-right:0%
  }
  #time{
  text-align:right;
  }
  </style>
{% endblock header_part %}
{% block body %}

<!-- <div class="card" style="margin-top: 0px;min-height: 100%;"> -->
	<div class="row" style="margin-right: 0%;">
		<div class="col-md-3" id="link_panel">
			<div class="card" id="link_card">
			<div id="random_thing">
			
				<div id="accordion">
					
				  	<button type="button" class="btn" data-target="#feeds_title" style="width:100%;background-color:#533259;" data-toggle="collapse" data-target="#feedurls">
				  		<strong style="color:white;font-size: 25px;">
				  			Your Feeds 
				  			<span class="glyphicon glyphicon-chevron-down"></span>
				  		</strong>
				  	</button>
				  	<div style="margin-top:5%;">
					    <ul style="padding-left: 10%;padding-bottom: 10%;">
					    <div id="website_titles" style="color: white;">
					     
					    {% for item in website %}
					   
					    	<li>
					    		<a class="feedlink" data="{{ item.website_feed_url }}">{{item.website_title}}</a>
					    		<button type="button" class="close" data="{{item.website_feed_url}}">
					    			&times;
					    	</button>
					    	</li>

					    {% endfor %}
					    
					    </div>
					    </ul>
					</div>
			  	</div>
			  
			  </div>
			  	
			</div>
			<button type="button" style="border-radius:0px;width:100%;background-color:#533259;" class="btn" data-toggle="modal" data-target="#myModal"><strong style="color:white;font-size: 25px;">Add New Feed</strong></button>	
			
		</div>
		<div class="col-md-9" id="description_panel">
		<div id="feed_details">
		<div class="card"> 
		
		<!-- 
			
			<div class="title">
				<span><h4></h4></span>
			</div>
			<div class="description">	
				
			</div>
			
		 -->
				{% for item in data %}
				<div class="panel panel-warning">
				    <div class="panel-heading">
				    	<span><a class="direct_link" href="{{item.feed_link}}">{{item.title}}</a></span><span<time class="time" style="text-align: right;" data="{{ item.published_on }}">{{ item.published_on }}</time></span></div>
				    <div class="panel-body desc"><h4>{{ item.description|safe }}</h4></div>
				</div>
				{% endfor %}
			
		</div>
		</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog" style="margin-top:70px;">
	  		<div class="modal-content" style="text-align:center;">
		        <div class="modal-header">
		          
		          <h4 class="modal-title"><strong>Enter feed url</strong></h4>
		        </div>
	        <div class="modal-body" style="text-align:center;">
	        	<form id="feedurls" method="POST" enctype="multipart/form-data">
	        		<!-- {% csrf_token %} -->
		      		<input id="feed_url" name="url" value="" type="text" style="width:80%;text-align:center;color:black;" placeholder="feed url"></input>
		      		{% csrf_token %}
					<br/><br/>
					<button type="submit" id="add_new_feeds" style="background-color:#533259;" 	class="btn">
					<strong style="color:white;">Add to my feeds</strong>
					</button>

				
				
					<button type="button" class="btn" id="closemodal" style="background-color:#533259;" data-dismiss="modal">
						<strong style="color:white;">Close</strong>
					</button>
					<br/>
					<br/>
					<div id='loadingmessage' style='display:none'>
  						<img style="width:70px;height:auto;" src={% static 'progress.gif' %}/>
					</div>
					<div id="error_url">

					</div>

				</form>
		    </div>
		</div>
	</div>
<!-- </div> -->

{% endblock body %}